:root {
    --colors-primary: #1450d2;
    --colors-primary-dark: #001254;
    --colors-primary-light: #518abd;
    --colors-contrast: #27aba4;
    --color-grey-accent: #cccccc;
    --color-grey-bg: #ebebeb;
    --color-footer: #707070;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  